body,
html {
  color: #333333;
  font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, verdana, arial, tahoma;
  font-size: 12px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
li,
body,
form,
input,
button,
img,
cite,
strong,
em,
table,
td,
th {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a:hover,
a:focus {
  text-decoration: none;
}
