body,
html {
  color: #333333;
  font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, verdana, arial, tahoma;
  font-size: 12px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
li,
body,
form,
input,
button,
img,
cite,
strong,
em,
table,
td,
th {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a:hover,
a:focus {
  text-decoration: none;
}
.Title{
  height: 50px;
  line-height: 50px;
  background: white;
  div {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}
.red-c{
  color:#e54545;
}
.yellow-c{
  color: yellow;
}
.blue-c{
  color: blue;
}
.black-c{
  color: black
}
.orange-c{
  color: orange;
}
.green-c{
  color: green;
}
.gray-c{
  color: gray;
}
.el-table{
  font-size: 12px;
}
.dialog-footer {
  text-align: center;
  .el-button {
    height: 30px;
    line-height: 0;
    border-radius: 0;
  }
}